{% extends 'homework/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>Homeworks of {{request.user.username | title}}</h2>
    {% if not homeworks_done %}
    <table style="border:1px solid black;width:100%">
        <thead">
            <tr>
                <th>S.No.</th>
                <th>Subject</th>
                <th>Title</th>
                <th>Description</th>
                <th>Due</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for homework in homeworks %}
            <tr style="text-align: center;">
                <td>{{forloop.counter}}</td>
                <td>{{homework.subject}}</td>
                <td>{{homework.title}}</td>
                <td>{{homework.description | slice:"0:20"}}</td>
                <td>{{homework.due}}</td>
                <td>
                    <!--USE JS TO MARK , NOT WORKING UNLESS-->
                    <a href="{% url 'update_homework' homework.id %}">
                        {% if homework.is_finished == True %}
                            <input type="checkbox" checked>Click Me
                        {% else %}
                            <input type="checkbox">Click Me
                        {% endif %}
                    </a>
                </td>
                <td><a href="{% url 'delete_homework' homework.id %}"><button style="background-color: red;color:white">Del</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>All Homeworks Completed</h3>
    {% endif %}
    <h3>Create New</h3>
    <form method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <input type="submit" value="Create">
    </form>
    {% if messages %}
    {% for msg in messages %}
    <p>{{msg}}</p><br>
    {% endfor %}
    {% endif %}
{% endblock %}