{% extends 'dashboard/layout.html' %}

{% block content %}
    <h1>HOME</h1>
{% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'profile' %}">Profile</a> </li>
        <li><select name=Menu>
            <option value="{% url 'notes' %}">Notes</option>
            <option><a href="{% url 'homeworks' %}">HomeWork</a></option>
            <option><a href="{% url 'youtube' %}">YouTube</a></option>
            <option><a href="{% url 'todo' %}">Todo</a></option>
            <option><a href="{% url 'book' %}">Books</a></option>
            <option><a href="{% url 'dictionary' %}">Dictionary</a></option>
            <option><a href="{% url 'wikisearch' %}">Wikipedia</a></option>
            <option><a href="{% url 'conversion' %}">Conversion</a></option>
        </select></li>
    </ul>
    <h2>DASHBOARD</h2>
    <ul>
        <li><a href="{% url 'notes' %}">Notes</a></li>
        <li><a href="{% url 'homeworks' %}">HomeWork</a></li>
        <li><a href="{% url 'youtube' %}">YouTube</a></li>
        <li><a href="{% url 'todo' %}">Todo</a></li>
        <li><a href="{% url 'book' %}">Books</a></li>
        <li><a href="{% url 'dictionary' %}">Dictionary</a></li>
        <li><a href="{% url 'wikisearch' %}">Wikipedia</a></li>
        <li><a href="{% url 'conversion' %}">Conversion</a></li>
    </ul>
{% else %}
<ul>
    <li><a href="{% url 'logout' %}">Logout</a> </li>
    <li><a href="{% url 'register' %}">Register</a> </li>
    <li><a href="{% url 'login' %}">Login</a> </li>

</ul>
{% endif %}
{% endblock %}